In [1]:
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [2]:
import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf

In [23]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train_y = train.pop('Survived')

In [24]:
train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [26]:
train['Age'].fillna(train['Age'].mean(), inplace=True)
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['Fare'].fillna(test['Fare'].mean(), inplace=True)

In [6]:
def integer_encoding(col):
    for i in range(len(col)):
        if col[i] == 'S':
            col[i] = 0
        elif col[i] == 'C':
            col[i] = 1
        else:
            col[i] = 2
    return col

In [27]:
res = integer_encoding(train['Embarked'])
res1 = integer_encoding(test['Embarked'])

<ipython-input-6-c7d6344a41a4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col[i] = 0
<ipython-input-6-c7d6344a41a4>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col[i] = 1
<ipython-input-6-c7d6344a41a4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col[i] = 2

In [28]:
train['Embarked'] = res
test['Embarked'] = res1

In [29]:
train['Sex'].replace('male', 0, inplace=True)
train['Sex'].replace('female', 1, inplace=True)
test['Sex'].replace('male', 0, inplace=True)
test['Sex'].replace('female', 1, inplace=True)

In [10]:
train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0       3    0  22.0      1      0   7.2500        0
1       1    1  38.0      1      0  71.2833        1
2       3    1  26.0      0      0   7.9250        0
3       1    1  35.0      1      0  53.1000        0
4       3    0  35.0      0      0   8.0500        0

In [18]:
from sklearn import svm
from sklearn.model_selection import cross_val_score

In [31]:
X = train
Y = train_y

In [32]:
clf = svm.NuSVC(gamma='auto')
clf.fit(X,Y)

NuSVC(gamma='auto')

In [20]:
score = cross_val_score(clf, X, Y, scoring='accuracy', cv=10, n_jobs=-1).mean()

In [21]:
score

0.7149937578027465

In [34]:
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Embarked    0
dtype: int64